.drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(3px);
}

.drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  max-width: 500px;
  height: 100vh;
  overflow-y: auto;
  background: white;
  border-left: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0 20px rgba(0,0,0,0.15);
  animation: slide 0.25s ease-out;
}

@keyframes slide {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.drawer-header {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.drawer-content {
  padding: 20px;
  overflow-y: auto;
}

.drawer-contenido {
  padding-bottom: 2rem;
}


.section {
  margin-bottom: 25px;
  background: #fafafa;
  padding: 20px;
  border-radius: 12px;
}

.section-title {
  margin-top: 30px;
  font-weight: 600;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #0d9488;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 10px;
}

.btn-danger {
  width: 100%;
  padding: 12px;
  background: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.table-mov {
  width: 100%;
  border-collapse: collapse;
}

.table-mov th, .table-mov td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.red { color: #dc2626; }
.green { color: #059669; }

.totales b {
  font-size: 18px;
}

.swal2-aesthetic {
  border-radius: 18px !important;
  padding: 14px 18px !important;
  box-shadow: 0px 8px 28px rgba(0,0,0,0.12) !important;
  backdrop-filter: blur(12px) saturate(180%) !important;
  border: 1px solid rgba(0, 166, 166, 0.25) !important;
}
