@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helpers globales */
.card {
  @apply bg-white rounded-2xl shadow-md shadow-slate-100;
}

.btn-primary {
  @apply bg-gradient-to-r from-brand_primary to-brand_sky text-white rounded-lg px-4 py-2 hover:opacity-90 disabled:opacity-50;
}
