@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helpers globales */
.card {
  @apply bg-white rounded-2xl shadow-md shadow-slate-100;
}

.btn-primary {
  @apply bg-gradient-to-r from-brand_primary to-brand_sky text-white rounded-lg px-4 py-2 hover:opacity-90 disabled:opacity-50;
}


.swal-glass {
  background: rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2) !important;
  padding: 30px !important;
}

.swal-title-glass {
  color: #2c2c2c !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}
